body{
	background-image: url('background-photos/youngPlant.jpg');
}

h1{
	height:100px;
	width:500px;
	text-align:center;
	margin-top: auto;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: auto;
	border:2px solid black;
	border-radius:12px;
	box-shadow: 10px 10px 5px black
	font-size:200px;
	opacity: 0.6;
	background-color:#ffffff;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: #A8D4AD;
	opacity:0.9;
	font-weight: bold;
}

li{
	float:left;
}

li a, dropbtn{
	display:inline-block;
	color:black;
	text-align:center;
	padding: 14px 120px;
}

li a:hover, .dropdown:hover .dropbtn{
	background-color: #5A7D7C;
}

li.dropdown{
	display:inline-block;
}

.dropdown-content{
	display:none;
	position:absolute;
	background-color:#7DC95E;
	min-width: 165px;
	z-index:1;
}

.dropdown-content a{
	color:black;
	padding: 12px 120px;
	display: block;
	text-align:left;
}

.dropdown-content a:hover{
	background-color: #648767;
}

.dropdown:hover .dropdown-content{
	display:block;
}

#separation{
	height:20px;
}

#separation2{
	height: 100px;
}

#welcoming{
	height:auto;
	width:auto;
	background-color: #ffffff;
	opacity: 0.8;
	display:flex;
	align-items:center;
	flex-direction: column;
}

#welcome{
	text-align:center;
	font-size:200px; 
	padding-bottom: 10px;
	font-weight: bold;
}

#image1{
	align-self: auto;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

#image2{
	align-self: auto;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

p{
	font-size: 30px;
	text-align: center;
}