body{
	background-image: url('background-photos/youngPlant.jpg');
}

#thing{
	height:150px;
	width:500px;
	text-align:center;
	margin-top: auto;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: auto;
	border:2px solid black;
	border-radius:12px;
	box-shadow: 10px 10px 5px black
	font-size:200px;
	opacity: 0.6;
	background-color:#ffffff;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: #A8D4AD;
	opacity:0.9;
	font-weight: bold;
}

li{
	float:left;
}

li a, dropbtn{
	display:inline-block;
	color:black;
	text-align:center;
	padding: 14px 120px;
}

li a:hover, .dropdown:hover .dropbtn{
	background-color: #5A7D7C;
}

li.dropdown{
	display:inline-block;
}

.dropdown-content{
	display:none;
	position:absolute;
	background-color:#7DC95E;
	min-width: 165px;
	z-index:1;
}

.dropdown-content a{
	color:black;
	padding: 12px 120px;
	display: block;
	text-align:left;
}

.dropdown-content a:hover{
	background-color: #648767;
}

.dropdown:hover .dropdown-content{
	display:block;
}

#separation{
	height:20px;
}

#separation2{
	height: 100px;
}

#welcoming{
	height:auto;
	width:auto;
	background-color: #ffffff;
	opacity: 0.8;
	display:flex;
	align-items:center;
	flex-direction: column;
}

#welcome{
	text-align:center;
	font-size:200px; 
	padding-bottom: 10px;
	font-weight: bold;
}

#image1{
	align-self: auto;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

#image2{
	align-self: auto;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

p{
	font-size: 30px;
	text-align: center;
}

#time{
	font-size: 28px;
	text-align: center;
	color:black;
}

#button1{
	background-color: white;
	border: 2px solid  #A8D4AD;
	padding:15px 20px;
	text-align:center;
	text-decoration: none;
	display:inline-block;
	font-size:16px;
	cursor:pointer;
	border-radius: 12px;
	transition-duration: 0.4s;
}

#button2{
	background-color: white;
	border: 2px solid  #A8D4AD;
	padding:15px 20px;
	text-align:center;
	text-decoration: none;
	display:inline-block;
	font-size:16px;
	cursor:pointer;
	border-radius: 12px;
	transition-duration: 0.4s;
}

#button1:hover{
	background-color:#5A7D7C;
	color:white;
}

#button2:hover{
	background-color:#5A7D7C;
	color:white;
}

{box-sizing: border-box}

.slideshow-container{
	max-width:1000px;
	position:relative;
	margin:auto;
}

.mySlides{
	display:none;
}

.prev, .next{
	cursor: pointer;
	position:absolute;
	top: 50%
	width: auto;
	margin-top:-22px;
	padding:15px;
	color:white;
	font-weight: bold;
	font-size: 20px;
	transition:0.4s ease;
	border-radius:12px;
	user-select:none;
}

.next{
	right:0;
	border-radius:12px;
}

.prev:hover, .next:hover{
	background-color: #5A7D7C;
}

.numbertext{
	color:white;
	font-size:15px;
	padding:8px 12px;
	position:absolute;
	top: 0;
}

.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color o.4s ease;
}

.acitve, .dot:hover{
	background-color:#5A7D7C;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}